* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.content {
	padding: 1rem;
}

ol.pokemons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	padding: 0;
	margin: 0;
}

ol.pokemons li {
	margin: .5rem;
	padding: 2rem 1rem;
	border-radius: 1rem;
	background-color: #14a06f;
	color: #fff;
	height: 100px;
}

